<!doctype html>

<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="contacts">

	<script src="<%=cstatic%>/js/lib/jquery-ui-1.10.1<%=min%>.js"></script>
	<script src="<%=cstatic%>/js/lib/localization/messages_<%=page.language%>.js"></script>
	
	<script>
	  $(document).ready( function() {
	    $("#records td.edit a").prepend("<span class='icon-pencil'></span>");
	    
      $("#doNew").button({ icons: { primary: "ui-icon-plus"}, text: true}).click( function() {
        $("#request").val("new"); 
        $("#record").submit();
      });
      $("#doSearch").button({ icons: { primary: "ui-icon-plus"}, text: true}).click( function() {
         $("#request").val("list");
         $("#record").submit();
       });
      $("#doMail").button({ icons: { primary: "ui-icon-plus"}, text: true}).click( function() {
         $("#request").val("mail");
         $("#record").submit();
       });
      $("#doSave").button({ icons: { primary: "ui-icon-check"}, text: true}).click( function() {
        $("#request").val("save"); 
        $("#record").submit();
      });
	    $("#doDelete").button({ icons: { primary: "ui-icon-trash"}, text: true}).click( function() {
	      $("#request").val("delete"); 
	      $("#record").submit();
	    });
	    $("#doCancel").button({ icons: { primary: "ui-icon-close"}, text: true}).click( function() {
	      $("#request").val("list"); 
	      $("#record").submit();
	    });

	    $("#record").validate();
	  });
	</script>

  <section>
    <header>
      <% include top.ejs %>
    </header>
    
    <div>
	
    <% if (typeof records === "undefined") {  %>
		<form action="<%= path.link %>" method="post" id="record">
   			<input type="hidden" name="request" id="request" value="save" /> 
   			<input type="hidden" name="id" value="<%- record.id %>" /> 

			<fieldset class="horizontal">
				<div>
					<label for="name">Name</label>
					<input name="name" id="name" type="text" value="<%- record.name %>" class="required"/>
				</div>
				<div>
					<label for="cie">Cie</label>
					<input name="cie" id="cie" type="text" value="<%- record.cie %>" />
				</div>
        <div>
    					<label for="title">Title</label>
    					<input name="title" id="title" type="text" value="<%- record.title %>" />
    				</div>
				<div>
					<label for="phone">Phone</label>
					<input name="phone" id="phone" type="text" value="<%- record.phone %>" />
				</div>
        <div>
    			<label for="origin">Origin</label>
           <input name="origin" id="origin" type="text" value="<%- record.origin %>" />
    		</div>
        <div>
    			<label for="target">Target</label>
          <input name="target[]" id="target0" type="checkbox" value="s" <%= checked(record.target && record.target.indexOf('s')>=0) %> />stage
          <input name="target[]" id="target1" type="checkbox" value="j" <%= checked(record.target && record.target.indexOf('j')>=0) %> />jsConf
          <input name="target[]" id="target2" type="checkbox" value="c" <%= checked(record.target && record.target.indexOf('c')>=0) %> />Cody
    		</div>
        <div>
    			<label for="email">Email</label>
    			<input name="email" id="email" type="text" value="<%- record.email %>"  class="required email"/>
    		</div>
        <div>
          <label for="nomail">Allows Mail</label>
          <input name="nomail" id="nomailY" type="radio" value="Y" <%= checked(record.nomail == 'Y') %> /><label class="choice" for="nomailY">No</label>
          <input name="nomail" id="nomailN" type="radio" value="N" <%= checked(record.nomail != 'Y') %> /><label class="choice" for="nomailN">Yes</label>
        </div>
        <div>
          <label for="active">Active</label>
          <input name="active" id="activeY" type="radio" value="Y" <%= checked(record.active == 'Y') %> /><label class="choice" for="activeY">Yes</label>
          <input name="active" id="activeN" type="radio" value="N" <%= checked(record.active != 'Y') %> /><label class="choice" for="activeN">No</label>
        </div>
			</fieldset>
			<div id="action_buttons">
				<button id="doSave">Save</button>
				<% if (record.id > 0) { %>
					<button id="doDelete">Delete</button>
				<% } %>
				<button id="doCancel">Cancel</button>
		  </div>
		</form>
    <% } %>
      
      
    <% if (typeof records != "undefined") { %>
      <form action="<%= path.link %>" method="post" id="search">
        <input type="hidden" name="request" id="request" value="list" />
        <div>
          <label>Target</label>
          <input name="q.target[]" id="target0" type="checkbox" value="s" <%= checked(record.target.indexOf('s')>=0) %> /><span>stage</span>
          <input name="q.target[]" id="target1" type="checkbox" value="j" <%= checked(record.target.indexOf('j')>=0) %> /><span>jsConf</span>
          <input name="q.target[]" id="target2" type="checkbox" value="c" <%= checked(record.target.indexOf('c')>=0) %> /><span>Cody</span>
        </div>
        <div>
          <label for="text">Name</label>
          <input type="text" name="q.name" value="<%= record.name %>">
        </div>

        <!--TODO: add  search button + input field -->
        <button id="doNew">New</button>
        <button id="doMail">Email</button>
        <button id="doSearch">Search</button>

      </form>
      <table id="records">
         <tr>
         <th>Name</th><th>Cie</th><th>Email</th><th>Phone</th>
         </tr>

        <% for (var i=0; i < records.length; i++) { var u = records[i]; %>
          <tr <%- (u.active=='Y') ? '' : 'class="inactive"' %>>
            <td class="edit"><a href="/<%=page.url%>/edit/<%= u.id %>"><%= (u.name==='') ? '--' : u.name %></a></td>
            <td><%= u.cie %></td>
            <td><%- (u.active=='Y') ? '' : '(' %><%= u.email %><%- (u.active=='Y') ? '' : ')' %></td>
            <td><%= u.phone %></td>
          </tr>
        <% } %>
      </table>
	  <% } %>
	  
    </div>
 
    <% include footer.ejs %>
  </section>
</body>
</html>
