<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body id="page<%= page.itemId %>">

    <% include top.ejs %>
    <% if (typeof submitted != "undefined") { %>
      <h2>Thank you!</h2>
      <div>
        <p>We will keep you informed and send you an email as confirmation in the next coming days.</p>
        <p>See you on March the 20th at Howest Brugge.</p>
      </div>
    <% } %>

    <%- render({intro: 'N', not_kind: 'M'}) %>

    <% if (typeof submitted === "undefined") { %>
    <h2>Register</h2>
    <div>
      <p>The event is completely sponsored by Howest, so no need to pay, you only have to register here.</p>

      <%- render({intro: 'N', kind: 'M'}) %>

      <p>As the number of participants is limited, please let us know if you registered and are unable to come, this way you are not blocking people on the waiting list.<p>

    </div>
    <% } %>

    <% include footer.ejs %>

</body>
</html>