<!doctype html>
<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="page<%= page.itemId %>">
  <script>
    var gTimer;

    function setRunner() {
      if (gTimer) clearInterval(gTimer);
      gTimer = setInterval(function(){
        window.location.href = "<%= page.link %>";
      }, 1000 * 60 * 1);
    }

    $(document).ready( function() {
      setRunner();

      $(document).keydown(setRunner);
      $(document).mousedown(setRunner);
    });

  </script>
  <style>div.wall { }
         .wall .Q { color: red }
         .wall .R { font-size: 15px }
         .wall img { width: 280px; display: inline-block; box-shadow: 3px 3px 3px darkgrey;
                     vertical-align: top; margin-left: 15px;; margin-bottom: 15px; }
         .wall section { margin: 0; width: 670px;  vertical-align: top; }
         .wall div { display: inline-block; width: 680px }
         header div, header section { display: inline-block }
         header section { width: 50px }
         header div { width: 850px; padding-left: 20px }
         form#logon label { width: 120px; display: block }
         form#logon input { width: 120px; display: block; border-radius: 4px; height: 24px }
         form#logon input[type=submit] { width: 60px }
         form#logon div { background-color: transparent }</style>

	<div id="wrapper">

    <header>
      <div>
        <%- render({intro: 'Y'}) %>
      </div>
      <section>
        <% if (isLoggedIn()) { %>
          <%=login.name%>
          <a href="/<%=page.language%>/login/logout">Sign&nbsp;out</a>
        <% } else { %>
          <form action="/<%=page.language%>/login" name="logon" id="logon" method="post" class="clearfix">
            <input type="hidden" name="request" value="login" />
            <input type="hidden" name="loggedInUrl" value="/nl/stef" />
            <fieldset class="clearfix">
              <div id="logonuser">
                <label for="username">User</label>
                <input name="username" id="username" type="text" />
              </div>
              <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
              </div>

              <% if (message == "login-failed") { %>
                <p class="warning">Wrong username or password, try again.</p>
              <% } else if (message == "login-locked") { %>
                <p class="warning">Your account is blocked, please contact the site administrator.</p>
              <% } %>

              <div class="action_buttons">
                <input type="submit" value="Log on" />
              </div>
            </fieldset>

          </form>
        <% } %>
      </section>
    </header>


		<div class="content wall">


      <div>
        <section>
          <form method="post" action="<%= page.link %>">
            <textarea cols="80" rows="3" name="note"></textarea>
            <input type="submit" name="request" value="Opmerking">
            <% if (login.level > 10) { %><input type="submit" name="request" value="Vertel"><% } %>
          </form>
        </section>


        <section>
          <ul>
          <% for (var m in wallList) { var message = wallList[m]; %>
            <li><span class="<%=message.kind%>"><%= formatShortTime(message.at) %></span>
              <em class="<%=message.kind%>">- <%= message.note %>
              <% if (login.level > 10) { %>
                <a href="<%= page.link %>?request=delete&id=<%=message.id%>">X</a>
              <% } %>
              </em>
            </li>
          <% } %>
          </ul>
        </section>
      </div>

      <%- render({kind: 'I'}) %>
		</div>

    <% include footer.ejs %>
	</div>

</body>
</html>