<!doctype html>
<html lang="<%=page.language%>">

<% include header.ejs %>

<script>

  $(document).ready( function() {
    $("#photoform").validate();
  });

</script>

<body id="page<%= page.itemId %>">

	<div id="wrapper">

    <% include top.ejs %>

		<div class="photos">
      <% if ((typeof message != "undefined") && (message != "")) { %>
        <section>
          <p class="warning"><%-message%></p>
        </section>
      <% } %>

      <% if (request === "new") { %>
        <p>Geef een goeie omschrijving. Weet je nog waar en wanneer de foto genomen werd?</p>

        <form method="post" action="/<%= page.getURL() %>" id="photoform" enctype="multipart/form-data">
          <div>
            <label>Titel</label>
            <input type="text" name="title" id="title" value="" class="required">
          </div>
          <div>
            <label>Omschrijving</label>
            <textarea cols="80" rows="8" id="note" name="note"></textarea>
          </div>
          <div>
            <label>Foto</label>
            <input type="file" name="fileToUpload" id="fileToUpload" value="" class="required">
          </div>
          <div>
            <input type="hidden" name="request" value="save">
            <input type="submit" name="submitter" value="Toevoegen">
          </div>
        </form>

      <% } else { %>
        <p>Heb je zelf nog een foto liggen?
           Stuur hem dan <a href="/<%= page.getURL() %>/new">hier</a> door.</p>

        <section>
          <% for (var iP in records) { var p = records[iP]; %>
            <article>
                <span class="title"><%= p.title %></span>
                <span class="at">Opgestuurd op: <%= formatDate(p.at) %></span>
                <% if (login.level >= 10) { %>
                 <span><a href="/<%= page.getURL() %>/delete/<%= p.id %>">Verwijderen</a></span>
                <% } %>
                <div>
                  <img src="<%=dynamic%>/photos/<%=p.id%>.<%=p.ext%>">
                  <span class="note"><%- p.note %></span>
                </div>
            </article>
          <% } %>
        </section>

      <% } %>
		</div>

    <% include footer.ejs %>
	</div>

</body>
</html>