<!doctype html>
<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="page<%= page.itemId %>">
  <script>

    $(document).ready( function() {
      $("#wallform").validate();
    });

  </script>

	<div id="wrapper">

    <% include top.ejs %>

		<div class="content wall">
      <div>
        <% if ((typeof message != "undefined") && (message != "")) { %>
          <section>
            <p class="warning"><%-message%></p>
          </section>
        <% } %>

        <section>
          <form method="post" action="/<%= page.getURL() %>" id="wallform">
            <% if (login.level > 10) { %>
              Nieuwe tekst bijvoegen door <%=login.name%>
              <textarea cols="80" rows="3" name="note"></textarea>
              <input type="submit" name="request" value="Vertel">
            <% } else { %>
              Stuur een persoonlijke reactie naar Katrien en haar familie.
              <textarea cols="80" rows="3" name="note"></textarea>
              Jouw email adres:
              <input type="email" name="email" id="email" value="" class="required email">
              <br>
              <input type="submit" name="request" value="Reactie">
            <% } %>
          </form>
        </section>


        <section>
          <ul>
          <% var reacties = 0; %>
          <% for (var m in wallList) { var M = wallList[m];
            if (M.kind == 'Q') { %>
              <% if (login.level > 10) { %>
                <li class="<%=M.kind%>"><%- M.note %>
                <a href="<%= page.link %>?request=delete&id=<%=M.id%>"><img src="<%=static%>/del.gif"></a>
                <% if (reacties > 0) { %><br><small><%= reacties %> reacties.</small><% } %></li>
              <% } else { %>
                <li><%- M.note %>
                    <% if (reacties > 0) { %><br><small><%= reacties %> reacties.</small><% } %></li>
              <% }
              reacties = 0;
            } else {
              reacties++;
              if (login.level > 10) { %>
                <li class="<%=M.kind%>"><span>Reactie op <%= formatDate(M.at) %> om <%= formatShortTime(M.at) %> door <a href="mailto:<%=M.email%>"><%=M.email%></a></span>
                    <a href="<%= page.link %>?request=delete&id=<%=M.id%>"><img src="<%=static%>/del.gif"></a>
                    <br>
                    <em class="<%=M.kind%>"><%- M.note %></em>
                </li>
              <% } %>
            <% } %>
          <% } %>
          <% if (reacties > 0) { %> <li><small><%= reacties %> reacties.</small></li> <% } %>
          </ul>
        </section>
      </div>

      <aside>
        <%- render({kind: 'I'}) %>
      </aside>
		</div>

    <% include footer.ejs %>
	</div>

</body>
</html>