<!doctype html>

<html lang="<%=page.language%>">

<% include header.ejs %>

<body>
	<script src="<%=static%>/js/lib/jquery-1.9.1<%=min%>.js"></script>
	<script src="<%=static%>/js/lib/jquery-ui-1.10.1<%=min%>.js"></script>
	<script src="<%=static%>/js/lib/jquery.validate<%=min%>.js"></script>
	<script src="<%=static%>/js/lib/localization/messages_<%=page.language%>.js"></script>
	
	<script type="text/javascript" src="<%=static%>/js/lib/jquery.jstree.js"></script>
	<script type="text/javascript" src="<%=static%>/js/tinymce/jquery.tinymce.js"></script>
	
	 
	<script type="text/javascript" src="<%=static%>/js/sitemap-editor.js"></script>
	<script type="text/javascript" src="<%=static%>/js/atom-tree.js"></script>
	<script type="text/javascript">
		$(document).ready( function() {
		  var gTree = new jAtomTree(0, <%=shownode%>, gContext, gLanguage, "sitemap", gImages);
		  gTree.getNode = getPage;
		  gTree.init();
		});
	</script>

  <div id="wrapper">
    <% var cat="S"; %>
		<% include navigation.ejs %>
    
		<div id="wrapper_data">
		
			<div id="content_div" style="display: none;">
				<textarea name="editContent" id="editContent"></textarea>
				<div id="content_buttons">
					<button id="doSaveEditor">Save</button>
					<button id="doCancelEditor">Cancel</button>
				</div>
			</div>
	
 	    <div id="left_nav">
				<button id="doAdd">Add</button>
				<button id="doRename">Rename</button>  
				<button id="doDelete">Delete</button>
				<button id="doEdit">Edit</button>
			
	      <div id="tree">
	        <ul>
	          <li id="id_0" class="open" rel="root"><a href="#"><ins>&nbsp;</ins>Website</a>
	            <%- controller.getTree() %>
	          </li>
	          
	          <li id="id_x" class="closed" rel="root"><a href="#"><ins>&nbsp;</ins>General</a>
	            <%- controller.getGlobalTree() %>
	          </li>
	         
			  		<% if ((login) && (login.level >= 99)) { %>
		         <li id="id_1" class="closed" rel="root"><a href="#"><ins>&nbsp;</ins>System</a>
		            <%- controller.getAdminTree() %>
		         </li>
	          <% } %>
	        </ul>
	      </div>
	    </div>
	    
	    <div id="right_cont">
			</div>
       
		</div>
 
		<% include footer.ejs %>
  </div>
</body>
</html>
