<div id="block_selector" title="<%= __('New content block')%>">
  <div>
    <img src="<%=cstatic%>/icons/T.png">
    <a class="makeChoice" href="#" rel="T" id="doAddTextBlock"><%= __('Add Rich text')%>  »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/S.png">
    <a class="makeChoice" href="#" rel="S" id="doAddStringBlock"><%= __('Add plain')%> text »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/I.png">
    <a class="makeChoice" href="#" rel="I" id="doAddImageBlock"><%= __('Add image')%> »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/F.png">
    <a class="makeChoice" href="#" rel="F" id="doAddFileBlock"><%= __('Add file')%> »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/M.png">
    <a class="makeChoice" href="#" rel="M" id="doAddFormBlock"><%= __('Add user form')%>  »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/B.png">
    <a class="makeChoice" href="#" rel="B" id="doAddFBBlock"><%= __('Add facebook like')%>  »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/H.png">
    <a class="makeChoice" href="#" rel="H" id="doAddFBSBlock"><%= __('Add facebook share')%> »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/P.png">
    <a class="makeChoice" href="#" rel="P" id="doAddParamBlock"><%= __('Add page params')%>  »</a>
  </div>
</div>
