<div id="content_data">
 	<form action="./files" method="post" class="clearfix" name="onepage" id="onepage" enctype="multipart/form-data">
    <input type="hidden" name="request" id="request" value="save" /> 
    <input type="hidden" name="node" value="<%= atom.id %>" /> 

	<fieldset id="tabs">
    <div id="options" class="horizontal">
      <div>
        <label for="Item"><%= __("Name")%></label>
        <input name="name" id="name" type="text" value="<%= atom.name %>" size="62" />
      </div> 
      <div class="clearfix">
        <label for="info"><%= __("Info")%></label>
        <p class="content_text"><%= __("Created")%>: <%= formatDate(atom.created) %> @ <%= formatTime(atom.created) %>
          <br> <%= __("Last Modified")%>: <%= formatDate(atom.updated) %> @  <%= formatTime(atom.updated) %></p>
      </div>
      
      <% if(atom.extention == '') { %>
        <input type="hidden" name="extention" value="" />
        <input type="hidden" name="note" value="" />
        
      <% } else { %>
        <div>
          <label for="note"><%= __("Note")%></label>
          <textarea name="note" id="note" cols="60" rows="3"><%= atom.note %></textarea>
        </div>
        
        <% if ( ( atom.extention != 'xxx') && ( atom.extention != '---')) { %>
         <div>
          <label for="extention"><%= __("Extention")%></label>
          <input name="extention" id="extention" type="text" value="<%= atom.extention %>" size="4" />
         </div>
        <% } %>

        <% if ((atom.extention != 'xxx') && (atom.extention != '') && (atom.extention != '---')) { %>
         <div>
          <label for="preview"><%= __("Current")%></label>
          <a href="<%= dynamic %>/files/<%= atom.getFileName() %>?u=<%=getUnique()%>">
            <img class="icon" src="<%=cstatic%>/extentions/<%=atom.extention%>.png" /></a>
          <a href="<%= dynamic %>/files/<%= atom.getFileName() %>?u=<%=getUnique()%>" class="filelink">
            <%= atom.getFileName() %></a>
         </div>
        <% } %>
        
        
        <div>
          <label for="fileupload"><%= __("Change")%></label>
          <input id="fileToUpload" type="file" size="30" name="fileToUpload" class="input" onchange='$("#preview").attr("src","")'/>
        </div>  
        
        
      <% } %>  
      </div>     
    </fieldset>
	
	
		<div id="action_buttons">
			<button id="doSave"><%= __("Save")%></button>
			<button id="doRealDelete"><%= __("Delete")%></button>
	  </div>
  </form>
</div>	
