<div id="content_data">
  <form action="./data" method="post" class="clearfix" name="formdata" id="formdata" enctype="multipart/form-data">
    <input type="hidden" name="id" id="id" value="<%= data.id %>" />
    <input type="hidden" name="meta" value="<%= data.atom %>" />
    <input type="hidden" name="request" value="" />
    <fieldset>
      <div>
        <label><%= __("Status")%></label>
        <div>
          <input type=radio id="new" name="status" value="N" <%= (data.status==="N") ? "Checked" : "" %>><label for="new"><%= __("New")%></label>
          <input type=radio id="todo" name="status" value="T" <%= (data.status==="T") ? "Checked" : "" %>><label for="todo"><%= __("To Do")%> </label>
          <input type=radio id="done" name="status" value="D" <%= (data.status==="D") ? "Checked" : "" %>><label for="done"><%= __("Done")%></label>
          <input type=radio id="done" name="status" value="A" <%= (data.status==="A") ? "Checked" : "" %>><label for="archive"><%= __("Archive")%></label>
        </div>
      </div>
      <div id="info">
        <label><%= __("Info")%></label>
        <div>
          <strong>Created: </strong><%= formatDate(data.created) %> <%= formatTime(data.created) %>
          <% if ((typeof data.modified !== "undefined") && (data.modified)) { %>
            - <strong>Modified: </strong><%= formatDate(data.modified) %> <%= formatTime(data.modified) %>
          <% } %>
        </div>
      </div>
    </fieldset>
    <% var label = {}; label[page.language] = "Save"; %>
    <% var CancelAndDelete = "<button id='doCancel'>Cancel</button><button id='doDelete'>Delete</button>"; %>
    <%- meta.html( page.language, { name: "Edit", options: {}, extraButtons: CancelAndDelete, labels: label })  %>
  </form>
</div>