<!doctype html>

<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="images">

<script src="<%=cstatic%>/js/lib/jquery-1.9.1<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/jquery-ui-1.10.1<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/jquery.validate<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/localization/messages_<%=page.language%>.js"></script>

<script src="<%=cstatic%>/js/lib/jquery.jstree.js"></script>

<script src="<%=cstatic%>/js/atom-tree.js"></script>
<script>
	$(document).ready( function() {
	  var gTree = new jAtomTree(1, "<%=shownode%>", gLanguage, "images", gCody);
	  gTree.init();
	});
</script>


  <section>
    <header>
      <% include top.ejs %>
      <% include navigation.ejs %>
    </header>
    
    <div>
		
 	    <div id="left_nav">
	      <button id="doAddFolder"><%= __("Add Folder")%> </button>
	      <button id="doAddImage"><%= __("Add Image")%> </button><br>
	      <button id="doRename" ><%= __("Rename")%></button>
	      <button id="doDelete" ><%= __("Delete")%></button>
	      <button id="doEdit" ><%= __("Edit")%></button>

        <div id="tree">
          <ul>
            <li id="id_<%= controller.getRoot() %>" class="open" rel="root"><a href="#"><ins>&nbsp;</ins><%= __("Images")%></a>
              <%- controller.getTree() %>
            </li>

            <li id="id_4" class="open" rel="root"><a href="#"><ins>&nbsp;</ins><%= __("Layout")%></a>
              <%- controller.getTree(4) %>
            </li>

            </li>
          </ul>

        </div>
			
	    </div>
	    
	    <div id="right_cont">
			</div>
       
		</div>
 
		<% include footer.ejs %>
  </section>
</body>
</html>
