<!doctype html>

<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="pages">
	<script src="<%=static%>/js/lib/jquery-1.9.1<%=min%>.js"></script>
	<script src="<%=static%>/js/lib/jquery-ui-1.10.1<%=min%>.js"></script>
	<script src="<%=static%>/js/lib/jquery.validate<%=min%>.js"></script>
	<script src="<%=static%>/js/lib/localization/messages_<%=page.language%>.js"></script>
	
	<script type="text/javascript" src="<%=static%>/js/lib/jquery.jstree.js"></script>
	<script type="text/javascript" src="<%=static%>/js/tinymce/jquery.tinymce.js"></script>
	
	 
	<script type="text/javascript" src="<%=static%>/js/pages-editor.js"></script>
	<script type="text/javascript" src="<%=static%>/js/atom-tree.js"></script>
	<script type="text/javascript">
	  var gTree;
		$(document).ready( function() {
		  gTree = new jAtomTree(1, "<%=shownode%>", gContext, gLanguage, "pages", gImages);
		  gTree.getNode = getPage;
      gTree.doAdd = addPage;
		  gTree.init();

      // when switching languages, try to keep the same view
      $("#ltabs > ul > li > a").click( function() {
        window.location = $(this).attr("href") + "?opennode=" + gTree.getOpenNode() + "&shownode=" + gTree.getCurrentNode();
        return false;
      });
    });

    if ("<%=opennode%>" !== "0") {
      $(window).load( function() {
          gTree.getNode("<%=opennode%>");
      });
    }
  </script>

  <section>
    <header>
      <% include top.ejs %>
      <% include navigation.ejs %>
    </header>
    
		<div>
		
			<div id="content_div" style="display: none;">
				<textarea name="editContent" id="editContent"></textarea>
				<div id="content_buttons">
					<button id="doSaveEditor">OK</button>
					<button id="doCancelEditor">Cancel</button>
				</div>
			</div>
	
 	    <div id="left_nav">
				<button id="doAdd">Add</button>
				<button id="doRename">Rename</button>  
				<button id="doDelete">Delete</button>
				<button id="doEdit">Edit</button>

        <div id="ltabs" class="ui-tabs ui-widget">
          <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <% for (var iL in app.languages) { var L = app.languages[iL]; %>
              <li class="ui-state-default ui-corner-top <%= (page.language === L.id) ? 'ui-tabs-active ui-state-active' : '' %>" ><a href="<%=context%>/<%=L.id%>/pages" class="ui-tabs-anchor"><%=L.id.toUpperCase()%></a></li>
            <% } %>
          </ul>

          <div id="tree" class="ui-corner-bottom">
            <ul>
              <li id="id_1" class="open" rel="root"><a href="#"><ins>&nbsp;</ins>Website</a>
                <%- controller.getTree() %>
              </li>

              <li id="id_3" class="closed" rel="root"><a href="#"><ins>&nbsp;</ins>Pages</a>
                <%- controller.getOrphansTree() %>
              </li>

              <% if ((login) && (login.level >= 99)) { %>
               <li id="id_9" class="closed" rel="root"><a href="#"><ins>&nbsp;</ins>Dashboard</a>
                  <%- controller.getDashboardTree() %>
               </li>
              <% } %>
            </ul>
          </div>
        </div>
	    </div>

	    <div id="right_cont">
			</div>
       
		</div>
		
		<% include footer.ejs %>
  </section>
  
  <div id="block_selector" title="New content block">
	  <div>
      <label class="kind">T</label>
      <a href="#" rel="T" id="doAddTextBlock">Add text  »</a>
    </div>
    <div>
      <label class="kind">I</label>
      <a href="#" rel="I" id="doAddImageBlock">Add image »</a>
    </div>
    <div>
      <label class="kind">F</label>
      <a href="#" rel="F" id="doAddFileBlock">Add file »</a>
    </div>
    <div>
      <label class="kind">M</label>
      <a href="#" rel="M" id="doAddFormBlock">Add form »</a>
    </div>
    <div>
      <label class="kind">S</label>
      <a href="#" rel="S" id="doAddStringBlock">Add String »</a>
    </div>
  </div>

  <div id="template_selector" title="Add new page">
    <% if (login.level > 50) { %>
      <h3>System templates</h3>
      <% for (var iT in app.templates) { var T = app.templates[iT]; %>
        <% if (T.system === "Y") { %>
          <div>
            <img src="<%=static%>/images/extentions/html.png">
            <a class="makeChoice" href="#" rel="<%= T.id %>">Add a "<%= T.name %>" page  »</a>
          </div>
        <% } %>
      <% } %>
      <h3>User templates</h3>
    <% } %>
    <% for (var iT in app.templates) { var T = app.templates[iT]; %>
      <% if (T.system === "N") { %>
        <div>
          <img src="<%=static%>/images/extentions/html.png">
          <a class="makeChoice" href="#" rel="<%= T.id %>">Add a "<%= T.name %>" page  »</a>
        </div>
      <% } %>
    <% } %>
  </div>

 </body>
</html>
