<!doctype html>

<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="templates">

<script src="<%=cstatic%>/js/lib/jquery-1.9.1<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/jquery-ui-1.10.1<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/jquery.validate<%=min%>.js"></script>

<section>
    <header>
        <% include top.ejs %>
        <% include navigation.ejs %>
    </header>

    <div>
        <form method="post" action="/<%= page.getURL() %>">
          <input type="hidden" name="id" value="<%=config.id%>" />
        <p>Change System settings (better done in config.json)</p>

        <p class="warning">Warning: When changing the hostname, make sure you can still reach your site.<br />You can give more than 1 name, separating with comma's. Ex:"old-name.org,new-name.org,www.new-name.org".</p>

        </p>
        <p><label for="hostname">Hostname:<br /><input type="text" id="hostname" name="hostname" value="<%=config.hostname %>" size="50" /></label></p>
        <p><label for="owneremail">E-mailaddress owner:<br /><input type="email" id="owneremail" name="owneremail" value="<%=config.owneremail %>" size="50" disabled="disabled" /></label></p>
            <input type="submit" name="request" value="OK" />
        </form>
    </div>

</section>
</body>
</html>