  <img src="<%=cstatic%>/images/logoMC.png">
  <% if (page.parent && isLoggedIn()) { %>
    <span id="breadcrumb"><a href="/<%=page.language%>/dashboard"><%= __("Dashboard")%></a> » <%=page.parent.title%></span>
  <% } %>
  <section>
    <a href="<%=cstatic%>/manual.pdf"><%= __("Help")%></a>
    <% if (isLoggedIn()) { %>
      <a href="/<%=page.language%>/users?request=edit&id=<%=login.id%>"><%= __("Account")%></a>
      <a href="/<%=page.language%>/login/logout"><%= __("Sign out")%></a>
    <% } %>
  </section>
