  <img src="<%=context%>/static/images/cms/logoMC.png">
  <% if (page.parent) { %>
    <span id="breadcrumb"><a href="<%=context%>/<%=page.language%>/dashboard">Dashboard</a> » <%=page.parent.title%></span>
  <% } %>
  <section>
    <a href="<%=context%>/static/manual.pdf">Help</a>
    <a href="<%=context%>/<%=page.language%>/users?request=edit&id=<%=login.id%>">Account</a>
    <a href="<%=context%>/<%=page.language%>/login/logout">Sign out</a>
  </section>
