<div id="block_selector" title="New content block">
  <div>
    <img src="<%=cstatic%>/icons/T.png">
    <a class="makeChoice" href="#" rel="T" id="doAddTextBlock">Add text  »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/I.png">
    <a class="makeChoice" href="#" rel="I" id="doAddImageBlock">Add image »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/F.png">
    <a class="makeChoice" href="#" rel="F" id="doAddFileBlock">Add file »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/M.png">
    <a class="makeChoice" href="#" rel="M" id="doAddFormBlock">Add form »</a>
  </div>
  <div>
    <img src="<%=cstatic%>/icons/S.png">
    <a class="makeChoice" href="#" rel="S" id="doAddStringBlock">Add String »</a>
  </div>
</div>
