<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>
<% include calendarscript.ejs %>
<script>
    $(document).ready(function(){
       $("td.calItem").click(function() {
          var day = $(this).attr("day");
          var month = $(this).attr("month");
          var year = <%= year %>
          var date = new Date(year,month,day);
          viewNewFormOnDate(date);
       });
    });
</script>
<body id="page<%= page.itemId %>">
<% include head.ejs %>
    <div id="wrapper">

     <div class="main calendar year">
        <section>
           <% for (var ic in page.content) { %>
               <% if (page.content[ic].isIntro()) { %>
                   <%- page.content[ic].render() %>
               <% } %>
          <% } %>
        <table id="tblCalendar">
            <caption>
                <nav id="calActionNav">
                   <% if (isLoggedIn()){ %>
                       <button id="newEvent" class="newEvent"></button>
                   <% } %>
                   <button id="exportCal" class="exportCal"></button>
                </nav>
                <nav id="calDateNav">
                    <a href="/<%=page.language%>/<%=page.itemId%>?request=otheryear&year=<%=(parseInt(year)-1)%>" class="navButton" id="prev"><button id="prev">Previous</button></a>
                    <h4><%= page.title %> - <%= year %></h4>
                    <a href="/<%=page.language%>/<%=page.itemId%>?request=otheryear&year=<%=(parseInt(year)+1)%>" class="navButton" id="next"><button id="next">Next</button></a>
                </nav>
                <nav id="calViewNav">
                     <a href="/<%=page.language%>/<%=page.itemId%>?request=weekview" class="weekname"></a>
                     <a href="/<%=page.language%>/<%=page.itemId%>?request=monthview" class="monthname"></a>
                     <a href="/<%=page.language%>/<%=page.itemId%>?request=yearview" class="active yearname"></a>
                </nav>
            </caption>
             <tr>
                 <% for(var i=0; i < 13; i++){ %>
                 <th class="yearCalHeader"></th>
                 <% } %>
             </tr>
        <tr>
        <% for(var d = 0; d < 31; d++) { %>
          <tr>
            <% for(var m=0; m < 13; m++) { var key =(m -1); %>
                <td day = "<%=d +1%>" month="<%= m -1 %>" class="calItem <% if(m !== 0 && d >= daysInMonth[key]){%>unexists<% }%>">
                    <% if(m === 0){ %>
                          <%= d+1 %>
                    <% } else{
                          var curMonth = months[key];
                          var curDay = curMonth[d];%>
                           <% if(typeof curDay !== "undefined") {
                               for(var i = 0; i < curDay.length; i++) { var app = curDay[i]; %>
                                     <p class="appointment apItem" apId="<%=app.idappointment %>"><%= app.title %>
                                     <% if(app.commentcount > 0) { %> * <% } %>
                                     </p>
                               <% }} %>
                           <% } %>
                </td>
                <% } %>
             </tr>
          <% } %>
        </table>
        </section>
     </div>
   </div>

   <div id="appointmentView"></div>


    <% for (var ic in page.content) { %>
      <% if (! page.content[ic].isIntro()) { %>
        <%- page.content[ic].render() %>
      <% } %>
    <% } %>

    <% include footer.ejs %>
   <div id="exportDiv">
    <p class="exportmsg"></p>
     <p><a href="/<%=page.language%>/<%=page.itemId%>/ics">Link</a></p>
   </div>
</body>
</html>