<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

  <% include calendarscript.ejs %>
  <script>
     $(document).ready(function(){
       $("div#exportDiv").hide();
       $("div#editForm").hide();
       $("div#createForm").hide();
       $(".apForm").hide();

       $(".datePicker").datepicker({dateFormat:"yy-mm-dd"});
       doButtons();

       $("#calDateNav button").click(function(){
                var inpmonth = parseInt($("#inpMonth").val());
                var year = parseInt($("#inpYear").val());
                var month;
                if($(this).attr("id") == "next") {
                    month =  inpmonth == 11 ? 0 : (parseInt(inpmonth) +1);
                    year = inpmonth == 11? (year +1) : year;
                } else {
                    month =  inpmonth == 0 ? 11 : (parseInt((inpmonth))-1);
                    year = inpmonth == 0? (year -1) : year;
                }
                $("#inpMonth").val(month);
                $("#inpYear").val(year);
                $("form#navForm").submit();
              });
                 $("td.calItem").click(function(){
                          var index = $(this).attr("index");
                          var day; var month; var year;
                          if(index < <%=startIndex%>){
                          //previous month
                            day = <%=((daysInLastMonth +1 ) - (startIndex - index))%>;
                            month = <%= currentMonth === 0 ? 11 : currentMonth -1%>;
                            year = <%= currentMonth === 0 ? (currentYear -1) : currentYear %>;
                          }else if(index > <%=endIndex%>){
                          //next month
                            day = <%=index - endIndex%>;
                            month = <%= currentMonth === 11 ? 0: (currentMonth +1)  %>;
                            year = <%= currentMonth === 11 ? (currentYear +1): currentYear %>
                          }else {
                          //this month
                            day = index - <%= startIndex %> +1;
                            month = <%= currentMonth %>
                            year = <%= currentYear %>
                          }
                          var date = new Date(year,month,day);
                          viewNewFormOnDate(date);
                       });

      });

     function doButtons(){

       $("#calGotoNav button#goto").button({
                        icons: { primary: "ui-icon-calendar" }
                      }).click(function(){
                          var month = $("#gotoMonth").val();
                          var year = $("#gotoYear").val();
                          $("#inpMonth").val(month);
                          $("#inpYear").val(year);
                          $("form#navForm").submit();
                      });

       $("#calActionNav button#newEvent").button({
         icons: { primary: "ui-icon-plusthick" }
       }).click(function(){
         viewNewForm();
       });

       $("#calActionNav button#exportCal").button({
         icons: { primary: "ui-icon-newwin" }
       }).click(function(){
         $("div#exportDiv").dialog({
           title: "Export calendar",
           width:814, height:520,
           modal: true
         });
       });

       $("#calDateNav button#prev").button({
         icons: { primary: "ui-icon-arrowthick-1-w" }, text: false
       });
       $("#calDateNav button#next").button({
         icons: { primary: "ui-icon-arrowthick-1-e" }, text: false
       });
     }

  </script>


<body id="page<%= page.itemId %>">
<% include head.ejs %>
   <div id="wrapper">

     <div class="main calendar month">
        <section>
           <% for (var ic in page.content) { %>
               <% if (page.content[ic].isIntro()) { %>
                   <%- page.content[ic].render() %>
               <% } %>
          <% } %>


          <form id="navForm" action="/<%=page.language%>/<%= page.itemId %>" method="post">
            <input type="hidden" name="request" value="otherMonth"/>
            <input type="hidden" name="month" id="inpMonth"  value="<%= currentMonth %>"/>
            <input type="hidden" name="year" id="inpYear" value="<%= currentYear %>"/>
          </form>

          <form id="viewAppointmentForm" action="/<%=page.language%>/<%= page.itemId %>" method="post">
            <input type="hidden" name="request" value="viewAppointment"/>
            <input type="hidden" name="id" id="appointmentID" />
          </form>


          <table id="tblCalendar">
            <caption>
              <nav id="calActionNav">
                <% if (isLoggedIn()){ %>
                  <button id="newEvent" class="newEvent"></button>
                <% } %>
                <button class="exportCal" id="exportCal"></button>
              </nav>
              <nav id="calDateNav">
                <button id="prev">Previous</button>
                <h4><span class="getMonthName" mi="<%= currentMonth %>"></span> <%= currentYear %></h4>
                <button id="next">Next</button>
              </nav>
              <nav id="calViewNav">
                <a href="/<%=page.language%>/<%=page.itemId%>?request=weekview" class="weekname"></a>
                <a class="active monthname" href="/<%=page.language%>/<%=page.itemId%>?request=monthview"></a>
                <a href="/<%=page.language%>/<%=page.itemId%>?request=yearview"class="yearname"></a>
              </nav>

            </caption>

            <tr>
              <th class="sunname"></th><th class="monname"></th><th class="tuename"></th><th class="wedname"></th><th class="thurname"></th><th class="friname"></th><th class="satname"></th>
            </tr>

            <% var index = 0;
            for(var w = 0; w < 5; w++) { %>
            <tr>
              <% for(var d = 0; d < 7; d++){%>
                 <td index="<%= index %>" class="calItem <% if(index < startIndex || index > endIndex){ %> other <%}%>">
                     <!-- insert number of day -->
                     <% if(index < startIndex) { %> <%= ((daysInLastMonth +1 ) - (startIndex - index))  %> <% }
                     else if (index > endIndex) { %> <%= (index - endIndex) %> <% }
                     else { %> <%= 1 + (index - startIndex) %> <% } %>

                     <% for(var i = 0; i < days[index].length; i++) { var ap = days[index][i]; %>
                           <div class="apItem appointment" apId="<%= ap.idappointment %>"><%= ap.title %>
                           <% if(ap.commentcount > 0) { %> * <% } %>
                           </div>
                     <% } %>
                 </td>
              <% index++; } %>
            </tr>
            <% } %>
          </table>

          <nav id="calGotoNav">
            <select id="gotoMonth">
               <% for(var i = 0; i < 12; i++) { %>
                  <option <% if(i === currentMonth) { %> selected="selected" <%}%> value="<%= (i) %>" class="locMonth"></option>
               <% } %>
            </select>
            <select id="gotoYear">
               <% for(var i = 0; i < 50; i++){ var year = 2010 + i; %>
                  <option <% if(currentYear == year){ %> selected="selected" <% } %> value="<%= year %>"><%= year %></option>
               <% } %>
            </select>

            <button id="goto" class="locShow"></button>
          </nav>

        </section>
     </div>
   </div>


   <div id="appointmentView"></div>
   <div id="exportDiv">
    <p class="exportmsg"></p>
    <p><a href="/<%=page.language%>/<%=page.itemId%>/ics">Link</a></p>
   </div>

    <% for (var ic in page.content) { %>
      <% if (! page.content[ic].isIntro()) { %>
        <%- page.content[ic].render() %>
      <% } %>
    <% } %>

    <% include footer.ejs %>

</body>
</html>