 <script src="../static/js/cody-calendar-localization-<%=page.language%>.js"></script>
 <script src="../static/js/localizer.js"></script>
 <script>
    $(document).ready(function(){
       console.log("loaded");
       $(".datePicker").datepicker({dateFormat:"dd-mm-yy"});

       $("#doDelete").click(function(){
         $("input[name=request]").val("delete");
         $("form#frmApdetail").submit();
       });

       $("#saveAppointment").click(function(){
            var request = "<%= view? "edit":"add" %>";
            $("input[name=request]").val(request.toString());
            $("form#frmApdetail").submit();
       });

       $("button#doPostComment").click(function(){
         $("input[name=comment]").val($("#txtComment").val());
         $("form#commentForm").submit();
         viewAppointment($("#appointmentId").val());
       });

       $(".doDelete").click(function(){
         $("input[name=idToDelete]").val($(this).attr("toDelete"));
         $("#frmDeleteComment").submit();
         viewAppointment($("#appointmentId").val());
       });

    });

    function getDateString(date){
                var toFormat = new Date(date);
                var toReturn = "";
                toReturn += toFormat.getFullYear();
                toReturn +="-" + (toFormat.getMonth() +1);
                toReturn += "-" + toFormat.getDate();
                return toReturn;
              }
 </script>




<div id="apDetailLeft">
<form id="frmApdetail" method="post" action="/<%= page.language %>/<%= page.item.id %>">
  <input type="hidden" name="request" />
  <input type="hidden" name="pagename" value="<%=pagename %>" />
  <input type="hidden" id="appointmentId" name="id" value="<%=  appointment.idappointment === undefined ? "": appointment.idappointment %>" />

  <label class="locTitle"></label>
  <input type="text" name="title"  required="required" value="<%= appointment.title  == undefined ? "": appointment.title %>"/>

  <label class="locDesc"></label>
  <input type="text" name="description" value="<%= appointment.description == undefined ? "": appointment.description%>"/>
 <label class="locDate"></label>
  <input type="text" class="date datePicker" required="required" name="date"
         value="<% if(view) { %><%=formatDate(appointment.date)%><% } else if(createFromDate){ %><%= formatDate(date)%><% } %>" />

  <label class="locFrom"></label>
  <input type="text" class="hour" required="required" name="start" value="<%= appointment.start  == undefined ? "08:00":appointment.start %>"/>

  <label class="locUntil"></label>
  <input type="text" class="hour" required="required" name="end" value="<%= appointment.end == undefined ? "12:00":appointment.end %>"/>

  <label class="locLocation"></label>
  <input type="text" name="location"  required="required" value="<%= appointment.location  == undefined ? "":appointment.location%>"/>

  <div>
    <% if (!view) { %>
      <label class="locOccurrence"></label>
         <select name="occurrence">
             <option value="0" class="locOnce"></option>
             <option value="1" class="locEveryDay"></option>
             <option value="2" class="locEveryWeek"></option>
             <option value="3" class="locEveryMonth"></option>
             <option value="4" class="locEveryYear"></option>
         </select>
    <% } else if(isLoggedIn()){ %>
        <button type="button" id="doDelete" class="locDelete"></button>

    <% }
       if (isLoggedIn()) {%>
        <button type="button" id="saveAppointment" class="locSave"></button>
    <% } %>
  </div>
</form>

<% if(view) { %>
</div>
<aside id="comments">
  <h3 class="locComment"></h3>
  <div id="commentsViewer">
    <% if(comments.length <= 0){ %>
        <h4 clas="locNoComments"></h4>
    <% } else { for(var i = 0; i < comments.length; i++){ var comment = comments[i]; %>
      <div class="commentHolder  <% if( i % 2 == 0 ) {%>evenComment <% } %>">
        <div>
            <%= comment.name %> <div class="commentTime"><%= comment.time %></div>
        </div>
        <div class="commentText">
            <p><%= comment.comment %> </p>
        </div>
        <% if(login.getId() == comment.id){ %>
            <div>
               <button class="doDelete locDelete" toDelete="<%= comment.idappointmentComment%>" ></button>
            </div>
       <% } %>
      </div>
    <% }} %>
</div>

<div id="commentPlacer">
    <h4 class="locPlaceComment"></h4>
    <textarea cols="52" id="txtComment"></textarea>
    <button id="doPostComment" class="locSend"></button>
</div>
</aside>

<% } %>

 <form id="frmDeleteComment" method="post" action="/<%=page.language%>/<%= page.itemId %>">
        <input type="hidden" name="request" value="deleteComment" />
        <input type="hidden" name="idToDelete" />
        <input type="hidden" name="apId" value="<%=appointment.idappointment%>"/>
        <input type="hidden" name="pagename" value="<%= pagename %>" />
 </form>

 <form method="post" id="commentForm" action="/<%=page.language%>/<%= page.itemId %>">
        <input type="hidden" name="request" value="commentAppointment"/>
        <input type="hidden" name="apId" value="<%= appointment.idappointment %>" />
        <input type="hidden" name="comment" />
        <input type="hidden" name="pagename" value="<%= pagename %>" />
 </form>
