<head>
  <title><%= page.root.title %>: <%= (page.parent != page.root) ? (page.parent.title + ' - ') : '' %><%=page.title%> - a Cody CMS website</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="keywords" content="<%=page.keywords%>">
<meta name="description" content="<%=page.description%>">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="<%=static%>/css/front.css" media="screen">
<link rel="stylesheet" href="<%=static%>/css/ui-lightness/jquery-ui-1.10.1<%=min%>.css" media="screen,projection">


<link rel="shortcut icon" href="<%=static%>/favicon.ico" type="image/x-icon">
<link rel="icon" href="<%=static%>/favicon.ico" type="image/x-icon">

<script src="<%=cstatic%>/js/lib/jquery-1.9.1<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/jquery.tools.min.js"></script>
<script src="<%=cstatic%>/js/lib/jquery.validate<%=min%>.js"></script>
<script src="<%=cstatic%>/js/lib/localization/messages_<%=page.language%>.js"></script>
<script src="<%=static%>/js/jquery-ui-1.10.1.min.js"></script>

<script src="../static/js/cody-calendar-localization-<%=page.language%>.js"></script>
<script src="../static/js/localizer.js"></script>

<script src="<%=static%>/js/script.js"></script>


<% var analytics = page.root.getContent("Google Analytics code"); %>
<% if (typeof analytics !== "undefined") { %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%=analytics.data%>', 'coppieters.be');
    ga('send', 'pageview');
  </script>
<% } %>

<script>
    $(document).ready(function(){
      //set automatically the width of the navigation elements
      setNavWidth();
    });

    function setNavWidth(){
     var count = $("nav#mainNav ul li").length
     var width = ($("nav#mainNav ul").width() / (count));
     $("nav#mainNav ul li").css("width",width);
    }
</script>

<!--[if lt IE 9]>
	<script src="<%=cstatic%>/js/lib/html5shiv.js"></script>
<![endif]-->

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
</head>