<% if(typeof messages !== "undefined") { %>

<script>


    $(document).ready(function(){
      $(".accordion").accordion({collapsible: true});
      <% if(messages.length > 0) { %>
      var firstId = <%= messages[0].messageId %>;
      doMsgDetail(firstId,true)
      <% } %>
      $("div.msgListItem").first().addClass("viewing");
      $("div.msgListItem").click(function(){
         $("div.msgListItem").each(function(){$(this).removeClass("viewing");});
         $(this).addClass("viewing");
         doMsgDetail($(this).attr("msgId"),$(this).attr("incoming"));
      });
    });
    function doMsgDetail(id,incoming){
        $.ajax({
            method:"POST",
            url: "/<%= page.getURL() %>",
            data: {request:"viewSingleMessage",msgId: id,in: incoming},
            dataType: "html",
            success: function(html){
              $("div#msgDetail").html(html);
            },
            error: function(err){
                console.log(err);
            }
        });
    }
</script>
    <aside id="msgList">
    <div class="accordion">
    <h3>Incomming</h3>
    <div class="accordionItem" style="padding:0px;">
            <% for(var i=0; i < messages.length; i++){ var msg = messages[i]; %>
               <div class="msgListItem" incoming="Y" msgId="<%= msg.messageId %>">
                    <h4><%= msg.name %><div class="msgTime"><%= msg.timestamp.toDateString() %> - <%=msg.timestamp.getHours()%>:<%= msg.timestamp.getMinutes()%></div></h4>

                    <p>
                        <% if(msg.message.toString().length > 15) { %>
                            <%= msg.message.substring(0,15) %> ...
                        <% } else { %>
                            <%= msg.message %>
                        <% } %>
                    </p>
               </div>
            <% } %>
        </div>
        <h3>Outgoing</h3>
        <div class="accordionItem" style="padding:0px;">
        <% for(var i=0; i < outMessages.length; i++){ var msg = outMessages[i]; %>
                       <div class="msgListItem" incoming="N"  msgId="<%= msg.messageId %>">
                            <% msg.timestamp = new Date(msg.timestamp); %>
                            <h4><%= msg.name %><div class="msgTime"><%= msg.timestamp.toDateString() %> - <%=msg.timestamp.getHours()%>:<%= msg.timestamp.getMinutes()%></div></h4>
                            <p>
                                <% if(msg.message.toString().length > 15) { %>
                                    <%= msg.message.substring(0,15) %> ...
                                <% } else { %>
                                    <%= msg.message %>
                                <% } %>
                            </p>
                       </div>
                    <% } %>
        </div>
        </div>
    </aside>
    <div id="msgDetail">

    </div>
<% } %>