<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<script>
  $(document).ready(function(){
    //set automatically the width of the
    setNavWidth();
  });

  function setNavWidth(){
    var count = $("nav#mainNav ul li").length
    var width = ($("nav#mainNav ul").width() / (count));
    $("nav#mainNav ul li").css("width",width);
  }
</script>

<body id="page<%= page.itemId %>">
<% include head.ejs %>
<div id="wrapper">

  <div class="content <%= (page.parent && page.parent.children.length > 0 && page.parent.itemId != 1) ? 'withNav' : '' %>">

    <% if (page.parent && (page.parent.itemId != 1)) { %>
      <% include menu-left.ejs %>
    <% } %>

      <div class="main upcoming">
          <section id="content">
            <%- render({not_kind:'C'}) %>
          </section>
          <aside id="upcoming">
            <%- render({kind: 'C'}) %>
          </aside>
        </div>

  <% include footer.ejs %>
</div>

</body>
</html>