<html>

<script>
    $(document).ready(function(){
    $("div#editProfile").hide();
    $("div.msgSender").hide();
    $("button#doMessage").click(function(){

      $("div.msgSender[uId=<%=viewId%>]").dialog({
        title: "Send a message to <%= name %>"
      });
    });

       $("#doEdit").click(function(){
          $("div#userProfile").hide();
          $("div#editProfile").show(200);
       });
    });
</script>
    <div id="userProfile">
        <% if(viewId == getLogin().getId()) {%>
            <button id="doEdit">Edit profile</button>
        <% } %>

        <p>Username: <%= username %></p>
        <p>Full name: <%= name %></p>
        <p>Function: <%= userFunction == ""? "member" : userFunction %></p>
        <p>Member since: <%= since %></p>
        <p>Aditional info:<br /><%= info %></p>
        <fieldset>
            <legend>Contact</legend>
            <p>e-mail: <%= email %> </p>
            <p>Telephone: <%= telephone %> </p>
            <fieldset>
            <legend>Address</legend>
                <p><%= street %> <%= number %></p>
                <p><%= zip %> <%= city %></p>
            </fieldset>
        </fieldset>
        <% if(isLoggedIn()){ %>
            <button id="doMessage">Message me</button>
        <% } %>
    </div>

    <div id="editProfile">
        <form id="frmEditProfile" method="post" action="/<%= page.getURL() %>" >
            <input type="hidden" name="request" value="doUpdate" />
            <input type="hidden" name="id" value="<%= viewId %>" />

            <div>
                <label>Full name</label>
                <input type="text" name="name" value="<%= name %>" />
            </div>

            <div>
                <label>Function</label>
                <input type="text" name="Function" value="<%= userFunction %>" />
            </div>

            <div>
                <label>Aditional info</label>
                <input type="text" name="info" value="<%= info %>" />
            </div>

            <div>
                <label>e-mail</label>
                <input type="text" name="email" value="<%= email %>" required="required" />
            </div>


            <div>
                <label>Telephone</label>
                <input type="text" name="telephone" value="<%= telephone %>" />
            </div>


            <div>
                <label>Street</label>
                <input type="text" name="street" value="<%= street %>" />
            </div>


            <div>
                <label>Number</label>
                <input type="text" name="number" value="<%= number %>" />
            </div>


            <div>
                <label>Zip</label>
                <input type="text" name="zip" value="<%= zip %>" />
            </div>


            <div>
                <label>City</label>
                <input type="text" name="city" value="<%= city %>" />
            </div>

            <br />
            <br />
            <button id="doSubmit">Save</button>
        </form>

    </div>

    <div class="msgSender" uId="<%= viewId %>" >
       <form id="frmSendMessage" method="post" action="/<%= page.getURL() %>">
         <input type="hidden" name="request" value="sendMsg"/>
         <input type="hidden" name="toId" value="<%= viewId %>" />
         <textarea name="message"></textarea>
         <button id="doSendMsg">Send</button>
       </form>
    </div>
</html>
