<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>
<script>
    $(document).ready(function(){
      //set automatically the width of the
      setNavWidth();
    });

    function setNavWidth(){
     var count = $("nav#mainNav ul li").length
     var width = ($("nav#mainNav ul").width() / (count));
     $("nav#mainNav ul li").css("width",width);
    }
</script>

<script>
    var firstId = "<%= users[0].id %>";
    $(document).ready(function(){
    $("div#msgViewer").hide();
        $("div.accordion").accordion({collapsible: true, active:false});
        doProfileView(firstId);

       $("h3.userItem").click(function(){
          var uId = $(this).attr("id");
          doProfileView(uId);
       });

       $("button#doViewMsg").click(function(){
            console.log("click");
          $.ajax({
               method:"POST",
               url:"/<%=page.getURL() %>",
               dataType:"html",
               data: {request: "viewMessages"},
               success: function(html){
                   $("div#msgViewer").html(html);
                   $("div#msgViewer").dialog({
                       title:"Messages",
                       width: 1000,
                       height: 800
                   });
               },
               error: function(err){
                   alert(err);
               }
          });
       });
    });
    function doProfileView(id){
        $.ajax({
            method:"GET",
            url:"/<%= page.getURL() %>",
            dataType: "html",
            data: {request: "otherUser",id: id},
            success: function(html){
            $("div[userId=" + id + "]").html(html);
            },
            error: function(error){
               $("div#userProfile").html(error);
            }
        });
    }
</script>
<body id="page<%= page.itemId %>">
<% include head.ejs %>
        <div id="wrapper">

         <div class="content <%= (page.parent && page.parent.children.length > 0 && page.parent.itemId != 1) ? 'withNav' : '' %>">

         <% if (page.parent && (page.parent.itemId != 1)) { %>
              <% include menu-left.ejs %>
         <% } %>


       <div class="main">
        <section>


          <% for (var ic in page.content) { %>
             <%- page.content[ic].render() %>
          <% } %>

           <% if(isLoggedIn()) { %>
              <button id="doViewMsg">Messages</button>
           <% } %>



                       <div id="msgViewer">
                       </div>



                        <%
                        var curYear = 0;
                        for(var i = 0; i < users.length; i++) {
                            var user = users[i];
                            if(user.since !== curYear){
                                curYear = user.since;%>
                                <% if(i > 0) { %> </div>  <% } %>
                                <h2 class="year"><%=user.since%></h2>
                                <div class="accordion">


                            <% }%>
                               <h3 id="<%= user.id %>" class="userItem"><%= user.name %> <% if(user.id === getLogin().getId()) { %> (Me) <% } %></h3>
                               <div userId="<%= user.id %>" class="userViewer">
                               </div>
                        <% } %></div>


        </section>
        </div>
        </div>

    <% include footer.ejs %>
        </div>

</body>
</html>