<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include ../front/header.ejs %>

<body>
	<div id="wrapper">

    <% include ../front/menu-top %>

		<div class="content" role="main">
			
			<div class="main">
			<section>
				<h1><%= page.title %></h1>

			</section>
			</div>
		</div>
	</div>

</body>
</html>