<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body class="page">
<% include menu-top %>


<div id="banner"></div>

<div id="content">
  <% var theChildren = (page.item.parentId == 1) ? page.children : page.parent.children; %>

  <section class="main">
    <h1><%= page.title %></h1>

    <article class="main">
      <%- render() %>
    </article>

    <% for (var icp in page.children) {
      var CP = page.children[icp]; %>
      <article class="intro">
        <h3><%= CP.title %></h3>

        <%- render({page: CP, intro: 'Y'}) %>

        <a href="/<%=CP.url%>"><%= CP.title %></a>
      </article>
    <% } %>
  </section>
</div>

<% include footer.ejs %>

</body>
</html>