<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body class="home">
  <% include menu-top %>

  <script src="<%=cstatic%>/js/lib/jquery-1.9.1.min.js"></script>
  <script>
    $(document).ready(function() {
      var images = $("#banner > section > img"), body = $("body");
      var current = 0, max = images.size()-1;

      function cycle() {
        if (body.width() > 720) {
          $(images[current]).hide();
          current = (current === max) ? 0 : current+1;
          $(images[current]).show();
        } else {
          images.hide();
        }
        setTimeout(cycle, 5000);
      }

      cycle();
    });

  </script>

  <div id="banner" class="clearfix">
    <section>
      <img src="<%=static%>/images/computer1.png">
      <img src="<%=static%>/images/computer2.png" style="display: none">
      <img src="<%=static%>/images/computer3.png" style="display: none">
      <img src="<%=static%>/images/computer4.png" style="display: none">
      <img src="<%=static%>/images/computer5.png" style="display: none">
      <img src="<%=static%>/images/computer6.png" style="display: none">
      <div>
        <h2><%- render({name: 'banner'}) %></h2>
        <a href="<%=cstatic%>/cody.zip"><img src="<%=static%>/images/download.png" alt="Download Cody CMS" title="Download Cody"></a>
      </div>
    </section>
  </div>


  <div id="content">
    <section>
      <h1><%- render({name: 'why'}) %></h1>

      <% for (var icp in page.children) { var CP = page.children[icp]; %>
      <article>
        <h3><%= CP.title %></h3>

        <% for (var isc in CP.content) { var SC = CP.content[isc];  if (SC.isIntro()) { %>
          <%- SC.render(controller) %>
        <% }} %>

        <a href="/<%=CP.url%>"><%= CP.title %></a>
      </article>
      <% } %>
    </section>
  </div>

  <div id="examples">
    <section>
      <h1>SOME EXAMPLES</h1>

      <% for (var pc in page.content) { var C = page.content[pc]; if (! C.isIntro() ) { %>
      <article>
        <%- C.render(controller) %>
      </article>
      <% } } %>
    </section>
  </div>

  <% include footer.ejs %>

</body>
</html>