<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body class="home">
  <% include menu-top %>

  <div id="banner" class="clearfix">
    <section>
      <img src="<%=static%>/images/computer.png">
      <div>
        <h2>Create your own web environment in<br>Javascript with Cody and Node.js</h2>
        <a href="<%=cstatic%>/cody.zip"><img src="<%=static%>/images/download.png" alt="Download Cody CMS" title="Download Cody"></a>
      </div>
    </section>
  </div>


  <div id="content">
    <section>
      <h1>WHY CODY?</h1>

      <% for (var ic in page.children) { var CP = page.children[ic]; %>
      <article>
        <h3><%= CP.title %></h3>
        <%- (CP.content[0]) ? CP.content[0].render() : "" %>
        <a href="<%=path.prefix%>/<%=CP.url%>"><%= CP.title %></a>
      </article>
      <% } %>
    </section>
  </div>

  <div id="examples">
    <section>
      <h1>SOME EXAMPLES</h1>

      <% for (var ic in page.content) { var C = page.content[ic]; %>
      <article>
        <%- C.render() %>
      </article>
      <% } %>
    </section>
  </div>

  <% include footer.ejs %>

</body>
</html>