<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body class="page">
  <% include menu-top %>


  <div id="banner"></div>

  <div id="content">
    <% var theChildren = []; %>
    <% if (page.root.itemId == 1) { %>
      <% include menu-left %>
    <% } %>

    <section class="<%= (theChildren.length == 0) ? 'noNav' : 'withNav' %>">
      <h1><%= page.title %></h1>

      <% for (var ic in page.content) { var C = page.content[ic]; %>
      <article>
        <%- C.render(controller) %>
      </article>
      <% } %>

      <% for (var icp in page.children) { var CP = page.children[icp]; %>
      <article class="intro">
        <h3><%= CP.title %></h3>

        <% for (var isc in CP.content) { var SC = CP.content[isc];  if (SC.isIntro()) { %>
          <%- SC.render(controller) %>
        <%  } else if (SC.kind == 'I') { %>
          <img class="intro" src="<%- dynamic %>/images/<%=SC.atom.id%>.<%=SC.atom.extention%>">
        <% }} %>
        <!-- a href="/<%=CP.url%>"><%= CP.title %></a -->
      </article>
      <% } %>
    </section>
  </div>

  <% include footer.ejs %>

</body>
</html>