<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body class="login">
<% include menu-top %>

<div id="banner" class="clearfix">
  <section>
    <form method="post" action="/<%=page.language%>/login">
      <input type="hidden" name="request" value="login" />
      <fieldset class="clearfix">
        <div id="logonuser">
          <label for="username">Username</label>
          <input name="username" id="username" type="text" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
        </div>
      </fieldset>
      <% if (message == "login-failed") { %>
        <p class="warning">Wrong username and/or password, please try again.</p>
      <% } else if (message == "login-locked") { %>
        <p class="warning">Your user account is locked, please contact the administrator of the website.</p>
      <% } else if (message == "logout") { %>
        <p class="warning">You've been logged out.</p>
      <% } %>

      <input type="submit" value="Log on" />
    </form>
    <h2>Before continuing to the requested page,<br>you need to logon first</h2>
  </section>
</div>

</body>
</html>