<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this essen.</p><![endif]-->

<header>
	<a href="/<%=page.language%>/"><img src="<%=static%>/images/logoMC.png" alt="Cody CMS"></a>
  <aside>
    <% for (var il in app.languages) { var L = app.languages[il]; %>
    <a class="<%= (page.language == L.id) ? 'active' : ''%>" href="/<%=L.id%>/<%= page.itemId %>"><%=L.id %></a>
    <% } %>
  </aside>
	<nav>
    <% var children = app.getPage(page.language, 1).children %>
    <% for (var ip in children) { var p = children[ip];
         if (p.isVisible()) { %>
           <a class="<%= (p == page.top) ? 'active' : '' %>" href="/<%=p.url%>"><%= p.title %></a>
    <%   } %>
    <% } %>
	</nav>

</header>

<div id="ribbon"><a href="https://github.com/jcoppieters/cody/" target="_blank">Fork me on GitHub</a></div>