<% theChildren = (page.parent.parent.itemId == 1) ? page.parent.children : page.parent.parent.children; %>

<% if (theChildren.length > 0) { %>
<nav>
    <ul>
       <% for (var i in theChildren) {
           var subpage = theChildren[i];
           if (subpage.isVisible()) { %>
               <% if (page.parent.itemId == subpage.itemId) { %>
                 <li><%=subpage.title%>
                 <ul>
                   <% for (var j in page.parent.children) { %>
                      <% var subsub = page.parent.children[j]; %>
                       <% if (subsub.isVisible()) { %>
                        <li><a <%- (page == subsub) ? 'class="active"' : '' %>
                               href="/<%=subsub.url%>"><%=subsub.title%></a></li>
                       <% } %>
                   <% } %>
                 </ul></li>
               <% } else { %>
                  <li><a <%- (page == subpage) ? 'class="active"' : '' %>
                         href="/<%=subpage.url%>"><%=subpage.title%></a></li>
               <% } %>
           <% } %>
       <% } %>
    </ul>
  </nav>
<% } %>