<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body class="page" id="page<%= page.itemId %>">
<% include menu-top %>

<div id="banner"></div>

<div id="content">
  <% var theChildren = []; %>
  <% if ((page.root.itemId == 1) && (page.parent.itemId != 1)) { %>
    <% include menu-left %>
  <% } %>

  <section class="<%= (theChildren.length == 0) ? 'noNav' : 'withNav' %>">
    <h1><%= page.title %></h1>

    <% for (var ic in page.content) { var C = page.content[ic]; %>
      <% if (((typeof submitted !== "undefined") && (C.isIntro())) ||
             ((typeof submitted === "undefined") && (! C.isIntro()))) { %>
        <article>
          <%- C.render(controller) %>
        </article>
      <% } %>
    <% } %>

  </section>
</div>

<% include footer.ejs %>

</body>
</html>