<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body id="home">
	<div id="wrapper">

    <% include menu-top %>

		<div class="content" role="main">
			<div class="slidewrapper">
				<a class="backward">prev</a>
        <a class="forward">next</a>
				<div class="slides">

					<% for (var i in page.children) { var P = page.children[i]; %>
						<div class="slide">
							<% if (P.itemId != 120) { %>
								<img src="<%= static %>/images/img_<%= P.itemId %>.png"
                     alt="<%= P.title %>"
                     width="250" height="308" class="dokter">
							<% } %>
							<div class="slidecontent">
								<% for (var ic in P.content) { %>
                  <%- P.content[ic].render(controller) %>
                <% } %>
								
								<% if (P.itemId != 120) { %>
									<a href="/<%=page.language%>/afspraak"
										 class="maakAfspraak button icons">Maak een afspraak</a>
								<% } %>
							</div>
						</div>
					<% } %>

				</div>

				<div class="slidetabs clearfix">
					<% for (var i in page.children) { var P = page.children[i]; %>
						<a href="#"><%=P.title%></a>
					<% } %>
				</div>

			</div>
		</div>

	</div>

	<script>
		$(function() {
			$(".slidetabs").tabs(".slides .slide", {

				// enable "cross-fading" effect
				effect: "fade",
				fadeOutSpeed: "fast",

				// start from the beginning after the last tab
				rotate: true

			// use the slideshow plugin. It accepts its own configuration
			}).slideshow();
		});
	</script>

</body>
</html>