<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body>
	<div id="wrapper">

    <% include menu-top %>

		<div class="content <%= (page.parent && page.parent.children.length > 0 && page.parent.itemId != 1) ? 'withNav' : '' %>"
         role="main">

			<% if (page.parent && (page.parent.itemId != 1)) { %>
         <% include menu-left %>
      <% } %>
			
			<div class="main">
			<section>
				<h1><%= page.title %></h1>

        <% for (var ic in page.content) { %>
				  <%- page.content[ic].render(controller) %>
				<% } %>
			</section>
			</div>
		</div>
	</div>

</body>
</html>