<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="<%=page.language%>"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="<%=page.language%>"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=page.language%>">
<!--<![endif]-->

<% include header.ejs %>

<body>
	<div id="wrapper">

    <header class="content">
      <a href="/<%=page.language%>/"><img src="<%=static%>/images/logo_de_essen.png"
         width="242" height="78" alt="Huistartsenpraktijk De Essen" id="logo"></a>
      
      <div id="contactData">
        <div class="contact tel">050 39 50 66</div>
        <div class="contact address">Lagebekeweg 1, 8200 Sint-Andries</div>
      </div>
    </header>
  
    <div id="login">
      <% if (isLoggedIn()) { %>
         <h2><%=session.login.name%></h2>
         <a href="login?request=logout">Logout</a>
         
      <% } else { %>
        <h2 id="loginfirst">Alvorens naar de gevraagde pagina te gaan, moet U zich eerst aanmelden.</h2>
        <form action="/<%=page.language%>/login" name="logon" id="logon" method="post" class="clearfix">
          <input type="hidden" name="request" value="login" /> 
          <fieldset class="clearfix">
            <div id="logonuser">
              <label for="username">Gebruikersnaam</label>
              <input name="username" id="username" type="text" />
              </div>
            <div>
              <label for="password">Wachtwoord</label>
              <input type="password" id="password" name="password" />
            </div>
          </fieldset>	
            
          <% if (message == "login-failed") { %>
            <p class="warning">Verkeerde gebruikersnaam of wachtwoord, gelieve nogmaals te proberen.</p>
          <% } else if (message == "login-locked") { %>
            <p class="warning">Uw gebruikersnaam is geblokkeerd, gelieve contact op te nemen met de site bouwer.</p>
          <% } %>
                    
          <div class="action_buttons">
            <input type="submit" value="Log on" />
          </div>
        </form>			
      <% } %>
        
      
      <% if (message == "logout") { %>
        <p class="warning">You've been logged out.</p>
      <% } %>
    </div>
    
  </div>

</body>
</html>