<div id="content_data">
 	<form action="./sitemap" method="post" class="clearfix" name="onepage" id="onepage">
    <input type="hidden" name="request" id="request" value="save" /> 
    <input type="hidden" name="node" value="<%=page.item.id%>" /> 
     
    <% if (page.link == 'global') { %>
        <input name="dated" id="dated" type="hidden" value="<%= page.item.dated %>" />
        <input name="validfrom" id="validfrom" type="hidden" value="<%= page.item.validFrom %>" />
        <input name="validto" id="validto" type="hidden" value="<%= page.item.validTo %>" />
        <input name="template" id="template" type="hidden" value="<%= page.item.templateId %>" />
        <input name="showcontent" id="showcontent" type="hidden" value="<%= page.item.showContent %>" />
        <input name="orderby" id="orderby" type="hidden" value="<%= page.item.orderBy %>" />
        <input name="link" id="link" type="hidden" value="<%= page.link %>" />
        <input name="active" id="active" type="hidden" value="<%= page.active %>" />
        <input name="keywords" id="keywords" type="hidden" value="<%= page.keywords %>" />
        <input name="description" id="description" type="hidden" value="<%= page.description %>" />
    <% } %>

    <div>
      <label for="Item" class="title bold">PAGE TITLE</label>
      <input name="title" id="title" type="text" value="<%= page.title %>" size="62" />
    </div> 
    
    <div>
      <label for="link">Link</label>
      /<%=page.language%>/<input name="link" id="link" type="text" value="<%= page.link %>" size="25" />
      (/<%= page.language %>/<%= page.item.id %>)
    </div>
    
    <div id="tabs">
		  <ul>
		    <li><a href="#content">Content</a></li>
		    <li><a href="#seo">SEO</a></li>
		    <li><a href="#options">Options</a></li>
		  </ul>
	
		  <div id="content">
		    <% for (var ic in page.content) { var c = page.content[ic]; %>
	      <div id="<%= c.id %>">
          <input type="hidden" name="data<%= c.id %>" class="data" value="<%= c.data %>" />
          <input type="hidden" name="kind<%= c.id %>" class="kind" value="<%= c.kind %>" />
          <input type="hidden" name="sortorder<%= c.id %>" class="sortorder" value="<%= c.sortorder %>" />
	        <label class="kind"><%= c.kind.toUpperCase() %></label>
	        
	        <% if (c.kind == "T") { %>
           <input type="hidden" name="atom<%= c.id %>" class="atom" value="0" />
	         <button class="doEditor">Edit <%= page.language.toUpperCase() %> Content</button>
	         <span><%= c.data.length %></span>
	         
          <% } else if (c.kind == "M") { %> 
           <input type="hidden" name="atom<%= c.id %>" class="atom" value="0" />
           <select name="form" id="form"><option value="0">-</option>
             <% for (var x in app.forms) { var f = app.forms[x]; %>
               <option value="<%= f.id %>" <%= (f.id==c.atom) ? 'selected' : '' %>><%= f.name %></option>
             <% } %>
           </select>
          
          <% } else if (c.kind == "F") { %> 
           <input type="hidden" name="atom<%= c.id %>" class="atom" value="<%= c.atom %>" />
          
          <% } else if (c.kind == "I") { %> 
           <input type="hidden" name="atom<%= c.id %>" class="atom" value="<%= c.atom %>" />
          
	        <% } %>
	        <input type="text" name="name<%= c.id %>" class="name" value="<%= c.name %>" />
	        
	      </div>
	      <% } %>
	    </div>  
	    
	    <div id="seo" class="horizontal">
	        <div>
	          <label for="keywords">Keywords</label>
	          <textarea name="keywords" id="keywords" class="long" rows="2"><%= page.keywords %></textarea>
	        </div>
	        <div>
	          <label for="description">Description</label>
	          <textarea name="description" id="description" class="long" rows="4"><%= page.description %></textarea>
	        </div>
	     </div>
	     
	     <div id="options" class="horizontal"> 
	        <div>
	          <label for="active">Active</label>
	          <input name="active" id="active" type="checkbox" value="Y" <%= checked(page.isActive()) %> />
	          <% if (login.level >= 50) { %>
	            <label for="needslogin">Needs login</label>
	            <input name="needslogin" id="needslogin" type="checkbox" value="Y" <%= checked(page.item.needsLogin()) %> />         
	          <% } %>
	        </div>
					<div>
						<label for="dated">Date</label>
						<input name="dated" id="dated" type="text" value="<%= formatDate(page.item.dated) %>" class="dater"/>
					</div>
					
					<div>
						<label for="validfrom">Valid from - to</label>
						<input name="validfrom" id="validfrom" type="text" value="<%= formatDate(page.item.validfrom) %>"  class="dater"/>
						<input name="validto" id="validto" type="text" value="<%= formatDate(page.item.validto) %>"  class="dater"/>
					</div>
	
					<% if (login && (login.level >= 99)) { %>
						<div>
							<label for="template">Template</label>
							<select name="template" id="template">
								<% for (var x in app.templates) { var t = app.templates[x]; %>
									<option value="<%= t.id %>" <%= (t.id==page.item.templateId) ? 'selected' : '' %>><%= t.name %></option>
								<% } %>
							</select>
						</div>
	
					<div>
						<label for="orderby">Order sublevels</label>
						<select name="orderby" id="orderby">
							<option value="M" <%= (page.item.orderby == 'M') ? 'selected' : '' %>>Manual</option>
							<option value="A" <%= (page.item.orderby == 'A') ? 'selected' : '' %>>Alphabetical</option>
							<option value="D" <%= (page.item.orderby == 'D') ? 'selected' : '' %>>Chronological</option>
						</select>
						
	          <label for="showcontent">Show</label>
	          <select name="showcontent" id="showcontent">
	            <option value="Y" <%= (page.item.showcontent == 'Y') ? 'selected' : '' %>>Content</option>
	            <option value="S" <%= (page.item.showcontent == 'S') ? 'selected' : '' %>>First subitem</option>
	            <option value="N" <%= (page.item.showcontent == 'N') ? 'selected' : '' %>>All subitems</option>
	            <option value="D" <%= (page.item.showcontent == 'D') ? 'selected' : '' %>>Don't show subitems</option>
	            <option value="L" <%= (page.item.showcontent == 'L') ? 'selected' : '' %>>Lightbox</option>
	          </select>
					</div>
	      <% } %>
					
				<% if (login.level < 50) { %>
					<input name="needslogin" id="needslogin" type="hidden" value="<%=page.item.needsLogin%>" />
					<input name="allowedgroups" id="allowedgroups" type="hidden" value="<%=page.item.allowedGroups%>" />
				<% } else { %>
				 <div>
					  <label for="allowedgroups">Allowed Groups</label>
						<input name="allowedgroups" id="allowedgroups" type="text" value="<%= page.item.allowedgroups %>" class="long" />
	          <select name="domains" id="domains">
	              <option value="">add a group</option>
	                <% for (var x in app.domains) { var D = app.domains[x]; %>
	                  <option value="<%= D %>"><%= D %></option>
	                <% } %>
	           </select> 
				 </div>
				<% } %>
	    </div>
		</div>	
	
		<div id="action_buttons">
			<button id="doSave">Save</button>
			<button id="doAddContent">Add Content</button>
			
			<% if (! page.isActive()) { %>
				<button id="doDelete">Delete</button>
			<% } %>
				
			<% if ((login.level >= 99) && (page.link != 'global')) { %>
				<button id="doAdjust">Adjust</button>
			<% } %>
			
			Last Modified: <%= formatDate(page.updated) %>
	  </div>
	  
  </form>
</div>	

